---
import ImageCircle from "./ImageCircle.astro";
import IntroDescription from "./IntroDescription.astro";
---
<h1 class="text-center sm:text-center lg:text-end mt-20  lg:pr-56 xl:pr-64 text-2xl font-semibold text-white w-9/12 2xl:w-10/12">About Me</h1>
 
<section
  id="Intro"
  class="flex lg:h-[400px] mt-10 w-9/12 lg:w-10/12 xl:w-9/12 2xl:w-10/12 flex-col items-center justify-center rounded-lg lg:flex-row mb-24 lg:mb-40"
>

  <ImageCircle />
  <IntroDescription
    title={"Miguel Troncoso"}
    style="md:pl-32  w-[80vw] md:w-[80vw] lg:w-full items-start md:items-start lg:items-end  "
    description={"I’m Ismail Ghallou also known as Smakosh, a self-taught designer and developer, currently based in Berlin, Germany. \n \n \r Currently working as a Senior frontend engineer at Diagonal Finance. Previously, working as a senior frontend engineer at The Landing. When I’m not coding or designing, I would be reading books, manga, playing video games or watching anime. Lately started bouldering in gyms and I’m enjoying it so far.   You can reach out to me via email: hello@smakosh.com or follow me on social media: Twitter or BlueSky"}
  />
</section>
