---
import PagesLinks from "./PagesLinks.astro";
import RRSS from "./RRSS.astro";
---

<footer
  class="w-full flex flex-row h-36 items-center justify-evenly bg-black border-t border-gray-500"
>
  <RRSS />
  <PagesLinks isInFooter=true/>
  <p class={"text-gray-400"}>Last Update {"Jul 2023"}</p>
</footer>
