---
import ImageCard from "./ImageCard.astro";
import IntroDescription from "./IntroDescription.astro";
---

<section
  id="Intro"
  class="flex h-[400px] mt-40 w-10/12 flex-col-reverse items-center justify-center rounded-lg border border-gray-200 shadow dark:border-gray-700 md:flex-row"
>
  <IntroDescription />
  <ImageCard />
</section>
