---
import ImageCard from "./ImageCard.astro";
import IntroDescription from "./IntroDescription.astro";
---

<section
  id="Intro"
  class="flex h-[400px] mt-28 w-11/12 2xl:10/12 flex-col-reverse items-center justify-center rounded-lg md:flex-row mb-40"
>
  <IntroDescription
    title={" I'm Miguel Troncoso "}
    description={" I am a self-taught developer dedicated to creating technological solutions that make a difference. Passionate about open source, startups and building  impactful side projects."}
    withRRSS={true}
  />
  <ImageCard />
</section>
