---
import ImageCard from "./ImageCard.astro";
import IntroDescription from "./IntroDescription.astro";
---

<section
  id="Intro"
  class="flex h-[400px] mt-40 w-11/12 2xl:10/12 flex-col-reverse items-center justify-center rounded-lg md:flex-row mb-40"
>
  <IntroDescription />
  <ImageCard />
  
</section>
