---
import Icon from "./Icon.astro";
const icons = [
  { name: "Github", src: "/assets/github.svg" },
  { name: "Linkedin", src: "/assets/linkedin.svg" },
  { name: "Twitter", src: "/assets/twitter.svg" },
];
---

<div class="flex py-2 space-x-6 sm:justify-center sm:mt-0">
  {icons.map(({ name, src }) => <Icon name={name} src={src} />)}

 
</div>
