---
const {
  frontmatter: { title, description, pubDate, image, author },
} = Astro.props;
---

<article>
  <div class="article-head">
    <h1 class="title">{title}</h1>
    <em>Written by: {author}</em>
  </div>
  <div class="article-body">
    {image && <img width={720} height={360} src={image} alt="" />}
    Published on: {pubDate && <time>{pubDate}</time>}
    <hr />
    <slot />
  </div>
</article>
